@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans:wght@400;700&display=swap");
/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
/* Seccion Header */
header {
  width: 100%;
  height: 100px;
  background-color: #1abc9c;
}
.image-fondo {
  background-image: url("../img/fondo-web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.contenedor_logo_nav {
  width: 80%;
  height: 100px;
  margin: auto;
}
.logo {
  width: 30%;
  height: 100px;
  float: left;
  padding-top: 10px;
}

.logo img {
  height: 100px;
  width: 70%;
}

nav {
  width: 70%;
  height: 100px;
  float: left;
  text-align: right;
  text-transform: uppercase;
  /* padding-top: 40px; */
  box-sizing: border-box;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding-left: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  /* font-family: "Raleway", sans-serif; */
  line-height: 70px;
}

/* section main */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.contenedor_imagenes{
  display: flex;
  text-align: center;
  margin-top: 70px;
}

.frase{
  padding: 50px;
  font-weight: 900;
  padding-left: 100px;
}

.texto{
  padding-top: 10px;
  text-align: center;
}

.slogan h1{
  font-weight: 900;
}

.texto:hover{
  color: blue;
}

main{
  height: 250px;
}

section.texto div.slogan, p.frase{
  font-family: "Raleway", sans-serif;
} 

.contenedor_imagenes_img{
  width: 200px;
  height: 150px;
  margin-left: 20px;
  border: 2px solid #1abc9c;
  border-radius: 5px;
}

.icons-nav:hover {
  background-color: #ffb319;
  transition: 0.5s;
  padding: 10px 15px;
  border-radius: 4px;
}
.nav-link:hover a {
  color: #444;
  background-color: #2eb086;
  padding: 10px 15px;
  border-radius: 4px;
}

article {
  height: 445px;
}

.contenedor-footer {
  background-color: #1abc9c;
  width: 100%;
  margin: auto;
  height: 100px;
  align-items: center;
  margin-top: 20px;
  /* padding-top: 25px; */
}

/* Nosotros */

@media (max-width: 768px) {
  .container-imagen {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

/* Secicion Main */

.container h1 {
  margin: 3rem;
  padding: 3rem;
  text-align: center;
  color: #d29d2b;
  text-transform: uppercase;
  font-weight: 900;
}
.container h2 {
  color: #d29d2b;
  font-weight: 400;
  padding: 4rem;
}
.sombra {
  box-shadow: 10px 5px 15px 4px rgba(15, 10, 15, 0.5);
  border-radius: 1rem;
}
.container-imagen {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.container-imagen img {
  max-width: 50rem;
  height: 40.5rem;
}
.text-main {
  margin: 3rem;
  padding-left: 6rem;
  font-size: 18px;
  text-align: center;
  color: #d29d2b;
  font-weight: 400;
}
.nav {
  display: flex;
  justify-content: right;
}

/* Seccion Footer */
.contenedor-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem;
}
.icons {
  align-items: center;
  background-color: #595260;
  padding: 12px;
  border-radius: 50%;
  font-size: 30px;
  color: #f7f6f2;
}
.icons:hover {
  background-color: #ffb319;
  padding: 12px;
  border-radius: 50%;
  transition: 0.5s;
}
