@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=PT+Sans:wght@400;700&display=swap");
/* Globales */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
/* Seccion Header */
header {
  background-color: #1abc9c;
  width: 100%;
  height: 100px;
}
.image-fondo {
  background-image: url("../img/fondo-web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.contenedor_logo_nav {
  width: 80%;
  height: 100px;
  margin: auto;
}
.logo {
  width: 30%;
  height: 100px;
  float: left;
  padding-top: 10px;
}

.logo img {
  height: 100px;
  width: 70%;
}

nav {
  width: 70%;
  height: 100px;
  float: left;
  text-align: right;
  text-transform: uppercase;
  /* padding-top: 40px; */
  box-sizing: border-box;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding-left: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  /* font-family: "Raleway", sans-serif; */
  line-height: 70px;
}

/* section main */

.contenedor_imagenes {
  display: flex;
  align-items: center;
  margin: 50px;
}

.texto {
  padding-top: 10px;
  text-align: center;
}

.texto:hover {
  color: blue;
}

/* main {
  height: 250px;
} */

section.texto div.slogan,
p.frase {
  font-weight: 900;
}

.contenedor_imagenes_img {
  width: 200px;
  height: 150px;
  margin-left: 20px;
  border: 2px solid #1abc9c;
  border-radius: 5px;
}

.icons-nav:hover {
  background-color: #ffb319;
  transition: 0.5s;
  padding: 10px 15px;
  border-radius: 4px;
}
.nav-link:hover a {
  color: #444;
  background-color: #2eb086;
  padding: 10px 15px;
  border-radius: 4px;
}
footer {
  background-color: #1abc9c;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

/* Nosotros */

.title-main {
  /* margin: 3rem; */
  padding: 3rem;
  text-align: center;
  color: #d29d2b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}
.title-nosotros {
  color: #d29d2b;
  font-weight: 400;
  padding: 2rem;
}
.sombra {
  box-shadow: 10px 5px 15px 4px rgba(15, 10, 15, 0.5);
  border-radius: 1rem;
  background-color: #f7f6f2;
}

.imagenes-nosotros {
  width: 30rem;
  height: 30rem;
}
@media (min-width: 778px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
  .title-main {
    /* margin: 3rem; */
    padding: 3rem;
    text-align: center;
    color: #d29d2b;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.8rem;
  }
  .contenedor-footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* margin-top: 20px; */
  }
}
.title-nosotros {
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}
.container-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.somos {
  text-align: center;
  color: #1abc9c;
  font-size: 2.2rem;
  font-weight: 400;
}
.text-main {
  line-height: 1.5;
  text-align: center;
  color: #d29d2b;
  font-size: 1.8rem;
}

.nav {
  display: flex;
  justify-content: right;
}

/* Seccion Footer */
.contenedor-icons {
  /* margin-right: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons-footer {
  /* background-color: red; */
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.icons {
  display: flex;
  align-items: center;
  background-color: #595260;
  padding: 12px;
  border-radius: 50%;
  font-size: 30px;
  color: #f7f6f2;
}
.icons:hover {
  background-color: #ffb319;
  padding: 12px;
  border-radius: 50%;
  transition: 0.5s;
}
.copyright {
  text-align: center;
  color: #f7f6f2;
}
.text-copyright {
  margin-bottom: -2rem;
  padding-top: 1rem;
}
.footer-contacto p {
  color: #f7f6f2;
  font-size: 2rem;
  margin-bottom: -1.5rem;
}
